<?xml version="1.0"?>

<launch>
  <param name="json_filename" type="string" value="tf2.json"/>

  <rosparam>
    /camera/rgb_camera/auto_exposure_priority: false
    /camera/rgb_camera/backlight_compensation: false
    /camera/rgb_camera/brightness: -18
    /camera/rgb_camera/contrast: 37
    /camera/rgb_camera/enable_auto_exposure: false
    /camera/rgb_camera/enable_auto_white_balance: false
    /camera/rgb_camera/exposure: 220
    /camera/rgb_camera/frames_queue_size: 16
    /camera/rgb_camera/gain: 20
    /camera/rgb_camera/gamma: 124
    /camera/rgb_camera/global_time_enabled: true
    /camera/rgb_camera/saturation: 50
    /camera/rgb_camera/sharpness: 100
  </rosparam>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="color_fps"     value="30"/>
    <arg name="color_height"  value="1080"/>
    <arg name="color_width"   value="1920"/>
    <arg name="enable_depth"   value="true"/>
  </include>

  <node name="triangle_detection" pkg="MSVC2024_Setup_2024" type="triangle_lab.py" output="screen"/>

  <node name="ids_node" pkg="MSVC2024_Setup_2024" type="MSVC2024_Setup_2024_ids_node" />

  <node name="board_detection" pkg="MSVC2024_Setup_2024" type="board_detection.py" output="screen"/>
  <node name="sift_board_detection" pkg="MSVC2024_Setup_2024" type="sift_board_detection.py" output="screen"/>
  <!-- <node name="screen_detection" pkg="MSVC2024_Setup_2024" type="screen_detection.py" output="screen"/> -->
  <node name="touch_detection" pkg="MSVC2024_Setup_2024" type="MSVC2024_Setup_2024_touch_detect_service" output="screen"/>


  <!-- Start ROS bridge stuff -->
 <node name="rosbridge_websocket" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
    <param name="port" value="9090" />
  </node>

  <node name="rosapi" pkg="rosapi" type="rosapi_node" output="screen" />



 <!--
  <node name="board_detection" pkg="MSVC2024_Setup_2024" type="board_detection_zed.py" output="screen"/>
  <include file= "$(find zed_wrapper)/launch/zed2.launch">
-->

  <include file="$(find ur_ros_driver)/launch/full_driver.launch" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.148 0 0 0 1 wrist_3_link tcp" />

  <node name="tf2_publisher" pkg="MSVC2024_Setup_2024" type="MSVC2024_Setup_2024_tf2_publisher" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@' " />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find MSVC2024_Setup_2024)/config/rviz_config.rviz" />


</launch>
